# Android / Kotlin project ignores
.gradle/
/build/
/captures/
local.properties
*.iml
.idea/
.DS_Store

# Keystore & signing
*.keystore
*.jks
*.p8
*.p12
*.key

# NDK / native intermediates
.cxx/
.externalNativeBuild/
.kotlin/
*.orig.*

# VS Code / tooling
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

# Misc
*.log
*.pem
